<footer id="footer">
  <div class="footer-logo">
    <h2> ¡Bienvenido a SMED! </h2>
    <p>
      <br />
      En SMED, somo tus aliandos y transformamos tus ideas digitales en
      realidad. Ofrecemos soluciones personalizadas en diseño web y soporte
      técnico para ayudarte a alcanzar tus objetivos. Desde el desarrollo web
      hasta la asistencia técnica, estamos aquí para impulsar tus proyectos al
      éxito.
    </p>
  </div>
  <br />
  <div class="footer-container">
    <div class="footer-info">
      <h3>Contacto</h3>
      <p>Dirección: Cr 78 K #46 B 21 sur, Bogota, Colombia</p>
      <p>Teléfono: +57 302 4462007</p>
      <p>Email: smed.techhub@gmail.com</p>
    </div>
    <div class="footer-links">
      <h3>Enlaces De Servicios</h3>
      <ul>
        <li><a href="/src/pages/AboutUs.html">Inicio</a></li>
        <li><a href="/src/pages/Services.html">Servicios</a></li>
        <li><a href="/src/pages/AboutUs.html">Nosotros</a></li>
        <!-- <li><a href="/src/pages/Store.html">Tienda</a></li>
        <li><a href="/src/pages/Experiences.html">Experiencias</a></li> -->
      </ul>
    </div>
    <div class="footer-social">
      <h3>Síguenos</h3>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=61558691450269"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="https://x.com/Smed_Technology"><svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24h-6.514l-5.106-6.694-5.828 6.694H2.42l7.723-8.835L1.254 2.25h6.554l4.882 6.467 5.634-6.467zM17.15 18.75h1.828L6.122 4.069H4.231l12.919 14.681z"/></svg></a>
        </li>
        <li>
          <a href="https://www.instagram.com/smed_technology/"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@smedtechnology"><i class="fab fa-tiktok"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 SMED. Todos los derechos reservados.</p>
  </div>
</footer>