<header>
  <nav class="navbar-smed">
    <div class="nav-logo">
      <p>Smed Technology</p>
    </div>
    <div class="nav-menu" id="navMenu">
      <ul>
        <li><a href="/src/pages/AboutUs.html" class="link">Nosotros</a></li>
        <li><a href="/src/pages/Services.html" class="link">Servicios</a></li>
        <li><a href="/src/pages/Store.html" class="link">Tienda</a></li>
        <li>
          <a href="/src/pages/Experiences.html" class="link">Experiencias</a>
        </li>
      </ul>
    </div>
    <div class="nav-button" id="ContenedorBotonInicio">
      <button class="btn btn-outline-light" id="loginbtn" onclick="location.href='/src/pages/Login.html';">
        Inicio
      </button>
    </div>
    <!-- Botones de login y registro -->
    <div id="BotonesSesion"></div>
    <!-- Barra Buscar -->
    <div id="Buscar"></div>
    <!-- Boton de menu desplegable para móviles -->
    <div class="botonHamburgesa" id="botonHamburgesa">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>