<header>
    <nav class="nav">
        <div class="nav-logo">
            <p> Smed Technology </p>
        </div>
        <!-- Boton de menu desplegable-->
        <div class="botonHamburgesa" id="botonHamburgesa">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/src/pages/blog.html" class="link">Nosotros</a></li>
                <li><a href="/src/pages/servicios.html" class="link">Servicios</a></li>
                <li><a href="/src/pages/tienda.html" class="link">Tienda</a></li>
                <li><a href="/src/pages/experiencias.html" class="link">Experiencias</a></li>
            </ul>
        </div>
        <div class="nav-button" id="ContenedorBotonInicio">
            <button class="btn btn-outline-light" id="loginbtn"
                onclick="location.href='/src/pages/login.html';">Inicio</button>
        </div>
        <!-- Botones de login y registro -->
        <div id="BotonesSesion"></div>
        <!-- Barra Buscar -->
        <div id="Buscar"></div>
    </nav>
</header>